<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load url from future %}
<head>
  <title>Event Show</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
  <link href="/static/viewEvent/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="page-in">
<div class="page">
<div class="main">
<div class="header">
<div class="header-top">
<img src="/static/viewEvent/images/event4u.png" style="height:85px;">
</div>
</div>
<div class="topmenu">
<ul>
  <li><a href="create_event.html"><span>Home</span></a></li>
  <li><a href="event_show.html"><span>Events</span></a></li>

</ul>
</div>

<div class="content">
<div class="content-left">
<div class="row1">
<h1 class="title">List of <span>Events</span></h1>

</div>
{% if event_dict %}
    <ul>
    {% for event_id , event in event_dict.items %}
        <li><h2><a href="/view/{{ event_id }}/">{{event}}</a></h2></li>
 
    {% endfor %}
    </ul>
{% else %}
    <p><h2>No Events are available.<h2></p>
{% endif %}
<li><h2>UYKIFULO</h2></li>

<h2><a href="{% url 'event_add' %}" >Create events</h2>
<br>
<br>
</div>
<div class="footer">
</div>
</div>
</div>
</div>
</div>
</body>
</html>
