<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Event4u Homepage</title>

<!-- Styles -->
<link href="/static/home/css/style.css" rel="stylesheet" type="text/css" media="screen" />

</head>


<body>
<div id="footer_wraping">
	<div id="footer">
	
	<h1><img src="/static/home/images/event4u.png" style="height:47px;width:150px;" /><a href="LoginForm/xHTML/index.html" style="float:right;color:blue;"><a href="/accounts/google/login"><img src="/static/home/images/google-signin.png" style="height:47px; width:250px;float:right"/></a></h1>
	</div>
</div>
<br>
<a name="Top"></a>
<div id="header_wrap">
	<div id="header" class="round">
		<img src="/static/home/images/lightbulb.png" class="light-bulb" alt="" />
		<div class="header-text">
			<h4>Hi, this is Event4u team for you</h4>
		  	<p>
				Our mission is to help people to handle events online.All about our webapp.
		  	</p>
		</div>
	</div>
</div>
<!-- [END] Header -->

<div id="content_wrap">
	<div id="content">

    <!-- Websites -->
    	<div class="nav-section">
      		<ul>
        		<li>Jump to:</li>
        		<li><a href="#About">About Event4u</a></li>
			<li><a href="#ContactUs">Contact Us</a></li>
			<li><a href="#RecentEvents">Recent Events</a></li>
      		</ul>
    	</div>
	<a name="RecentEvents"></a>
    	<div id="websites">
        	<div class="post even clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
	<!-- add an image here -->
	<!--<h1> Events handled </h1> -->
			<div class="post-image">
          		<img src="/static/home/images/6.jpg" alt="AppStorm" />
        		</div>
        		<div class="post-text">
          			<h2>Samarpana in PESIT</h2>
				<p> It was a great experience for us to be a helping hand for the families of INDIAN heroes. Thanks to Samarpana and also Event4u team for setting up a patriotic environment.</p>
          			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Divya,2nd year ISE,PESIT</h2></p>
        		</div>
        		<div class="clear">
			</div>	
      		</div>
          	<div class="post odd clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
        		<div class="post-image">
          			<img src="/static/home/images/2.jpg" alt="Tuts+ Premium" />
        		</div>
        		<div class="post-text">
          			<h2>Graduation at PESIT</h2>
          			<h3>It was one of the greatest graduation of the years. Handled well by Event4u team.
				<br>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>B S Murthy,Principal of PESIT</h2></p>
        		</div>
        		<div class="clear">
			</div>
      		</div>
          	<div class="post even clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
        		<div class="post-image">
          			<img src="/static/home/images/3.jpg" alt="Tuts+ Network" />
        		</div>
        		<div class="post-text">
          			<h2>Concert @ BMSIT</h2>
          			<h3>Enjoyed to the maximum in this fantastic concert. Thanku Event4u for an well-organised management of concert.
          			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Sachin,3rd year CSE,PESIT</h2></p>
        		</div>
        		<div class="clear">
			</div>
      		</div>
          	<div class="post odd clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
        		<div class="post-image">
          			<img src="/static/home/images/4.jpg" alt="FreelanceSwitch" />
        		</div>
        		<div class="post-text">
          			<h2>Cultural night on Dasara festival</h2>
          			<h3></h3>
          			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Devdas,National cultural secretary</h2></p>
        		</div>
        		<div class="clear">
			</div>
      		</div>
          	<div class="post even clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
        		<div class="post-image">
          			<img src="/static/home/images/5.jpg" alt="AppStorm" />
        		</div>
        		<div class="post-text">
          			<h2>Sanju weds geetha</h2>
          			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Married couple</h2></p>
        		</div>
        		<div class="clear">
			</div>
      		</div>
          	<div class="post odd clearfix">
        		<img src="/static/home/images/appstorm-icon.png" alt="AppStorm" class="side-tag" style="top:29px;" />
			<div class="post-image">
          			<img src="/static/home/images/1.jpg" alt="Envato Marketplaces" />
        		</div>
        		<div class="post-text">
          			<h2>Rajinikanth's b'day bash</h2>
                		<p>I'm very happy to celebrate my 60th birthday. Thanks to Event4u team for making this birthday memorable. 
				</p>
				<br>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Rajinikanth</h2></p>
        		</div>
        		<div class="clear">
			</div>        		
		</div>
<!-- [END] Websites -->
<!-- About -->
		<a name="About"></a>
    		<div class="nav-section">

    		</div>
		<div id="about">
      			<div class="about-envato round-top">
        			<img src="/static/home/images/about-globe.png" class="about-globe" alt="" />
        			<div class="about-text">
          				<h1><img src="" alt="About Event4u" /></h1>
          				<p>Event4u is a web application which makes the job of handling or managing the events easier.
					</p>
        			</div>
      			</div>
		</div>
<!-- [END] About -->
<!-- Contact -->
		<a name="ContactUs"></a>
    		<div class="nav-section">
      			<ul>
        			<li>Jump to:</li>
        			<li><a href="#Top">Beginning</a></li>
        			
      			</ul>
    		</div>
		
    		<div id="contact" class="round clearfix">
       			<a name="contact-us"></a>
       			<img src="/static/home/images/contact-us.png" class="contact-us" alt="Contact Us" />
       			<div>
	   			<h2>General Enquiries</h2>
               			<p>For all general inquiries about Event4u <a href="http://www.google.com">general inquiries</a></p>	
	            		<h2>Get Help &amp; Support</h2>
                        	<p>For support or assistance with our Event4u, visit our support site at <a href="http://www.google.com">support@event4u</a>.</p>
       			</div>
           		<h2>Mobile</h2>
               		<p>+91 7760006366 <br />
               		Note: support requests are <strong>not</strong> handled by phone.<br />Place a query <strong>quickly</strong> and <strong>easily</strong> at <a href="http://www.google.com/">support@event4u</a> and we'll endeavour to respond within 24 hours (complex issues may take longer).
               		</p>
   		</div>
	</div>
    <!-- [END] Contact -->
</div>
</div>
<br>
<br>
<!-- [END] Content -->

<!-- Footer -->
<div id="footer_wrap">
	<div id="footer">
        This is a product of Event4u <img src="/static/home/images/copyright_symbol.jpg" style="height:20px; width:20px;"/>
	</div>
</div>
</body>
</html>


